<p style= "color: green">

<ul>
  <% @movies.each do |movie| %>
    <%= render movie %>
      <p>
        <%= link_to "Show this movie", movie %>
      </p>
  <% end %>
</ul>

<%# <%= link_to "Add a new movie", new_movie_path %>
