<div class="logo">
<%= link_to root_path do %>
  <%= image_tag "logo.png", alt: "App logo", class: "logo" %>
<% end %>
</div>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "See Movies", movies_path %>
